# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Supabase
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.swp

# Misc
npm-debug.*
yarn-debug.*
yarn-error.*
